@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  background-color: white;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

/*Файл mixins.scss*/

p {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
}

b {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

/*Для скрин ридера*/

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*
//(это временная вспомогательная штука с помощью этих фоновых картинок мы будем смотреть как строится наша сетка правильно или нет )

body {
  background: $light-color url("../img/sedona-index-mobile-s-menu.png") no-repeat 50% 0;
  background-size: 320px auto; //задаем ширину и высоту 
  height: 3610px;
}



@media (min-width: $tablet-width){
  body {
    background: $light-color url("../img/sedona-index-tablet.png") no-repeat 50% 0;
    background-size: 768px auto; //задаем ширину и высоту 
    height: 2666px;
  }
} 

@media (min-width: $desktop-width) {
  body {
    background: $light-color url("../img/sedona-index-desktop.png") no-repeat 50% 0;
    background-size: 1280px auto; //задаем ширину и высоту 
  }
}
*/

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header-nav {
  position: relative;
  width: auto;
  min-height: 56px;
}

header .header-nav .site-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

header .header-nav .site-list__item a[href]:hover {
  background-color: #669ec0;
}

header .header-nav .site-list__item a[href]:active {
  background-color: #5496bd;
  color: #94b9d2;
}

header .header-nav .site-list__item {
  height: 55px;
  background-color: #81b3d2;
}

header .header-nav .site-list__item:nth-child(4n) {
  -webkit-box-shadow: inset 0 -10px 6px -12px black;
          box-shadow: inset 0 -10px 6px -12px black;
}

header .header-nav .site-list__item a {
  display: block;
  padding-top: 21px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 14px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
}

header .header-nav .site-list__item a:last-child {
  border-bottom: none;
}

header .header-nav .site-list__item--logo {
  height: 56px;
  text-align: center;
  background-color: white;
}

header .page-header__logo {
  height: 390px;
  text-align: center;
  background-color: #81b3d2;
  background-image: url(../img/index-photo/back-desktop.png);
  background-repeat: no-repeat;
  background-position: center -40px;
}

header .page-header__logo img {
  width: 281px;
  height: 214px;
  margin: 90px 0 0 0;
}

main .stats {
  width: auto;
  height: 223px;
  margin-bottom: 14px;
}

main .stats .stats__description {
  width: auto;
  padding-left: 32px;
  padding-right: 33px;
  padding-top: 43px;
  min-height: 149px;
  line-height: 1.44;
  text-align: center;
}

main .stats .stats_slogan {
  font-size: 18px;
}

main .stats .stats_intro {
  margin-top: 32px;
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

main .advantages {
  min-height: 470px;
  width: auto;
}

main .advantages .first-advantages {
  padding: 0;
  margin: 0;
  list-style: none;
}

main .advantages .first-advantages .first-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #81b3d2;
  min-height: 105px;
  text-align: center;
  color: #ffffff;
  padding: 61px 27px 44px 28px;
}

main .advantages .first-advantages .first-advantages__list b {
  text-align: center;
}

main .advantages .first-advantages .first-advantages__list b br {
  display: none;
}

main .advantages .first-advantages .first-advantages__photo {
  height: 256px;
  background-image: url(../img/index-photo/photo-city.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
}

main .advantages .other-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  padding: 0;
  height: auto;
  margin: 41px auto 42px auto;
  list-style: none;
}

main .advantages .other-advantages svg {
  fill: #81b3d2;
}

main .advantages .other-advantages p {
  font-size: 14px;
  line-height: 1.5;
}

main .advantages .other-advantages b {
  line-height: 18px;
  margin: 0;
}

main .advantages .other-advantages br {
  display: none;
}

main .advantages .other-advantages .advantages__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .advantages .other-advantages .house {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 210px;
  height: 92px;
  padding: 0 0 30px 69px;
}

main .advantages .other-advantages .house .icon-house {
  position: absolute;
  width: 38px;
  height: 36px;
  top: -15px;
  left: 20px;
}

main .advantages .other-advantages .food {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 180px;
  height: 92px;
  padding: 0 0 0 70px;
}

main .advantages .other-advantages .food .icon-burgers {
  position: absolute;
  width: 39px;
  height: 34px;
  left: 20px;
  top: -9px;
}

main .advantages .other-advantages .souvenirs {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 199px;
  height: 72px;
  padding: 0 0 38px 70px;
}

main .advantages .other-advantages .souvenirs .icon-gift {
  position: absolute;
  width: 32px;
  height: 38px;
  left: 20px;
  top: -15px;
}

main .advantages .second-advantages {
  padding: 0;
  margin: 0;
  list-style: none;
}

main .advantages .second-advantages .second-advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 105px;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  padding: 45px 31px 42px 30px;
}

main .advantages .second-advantages .second-advantages__list b {
  text-align: center;
}

main .advantages .second-advantages .second-advantages__list b br {
  display: none;
}

main .advantages .second-advantages .second-advantages__photo {
  height: 260px;
  background-image: url(../img/index-photo/photo-bridge.jpg);
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 800px 260px;
}

main .advantages .grey-other-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  background-color: #eeeeee;
}

main .advantages .grey-other-advantages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  min-height: 102px;
  margin: 33px auto 32px auto;
}

main .advantages .grey-other-advantages li br {
  display: none;
}

main .advantages .grey-other-advantages li p {
  max-width: 300px;
}

main .advantages .grey-other-advantages .line {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  background-color: #d6d6d6;
  opacity: 0.4;
}

main .interest {
  min-height: 289px;
  width: auto;
  text-align: center;
}

main .interest .interest__description {
  padding-top: 33px;
  height: auto;
}

main .interest .interest__description p {
  max-width: 350px;
  margin-bottom: 40px;
  margin-top: 29px;
}

main .interest .interest__description .interest__button {
  width: 90%;
  height: 58px;
  background-color: #81b3d2;
  padding: 0;
  color: white;
  border: 0;
}

main .interest .interest__description .interest__button:hover {
  background-color: #669ec0;
}

main .interest .interest__description .interest__button:active {
  background-color: #5496bd;
  color: #94b9d2;
}

main .interest .interest__description .interest__button b {
  font-family: 'PT Sans',sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.24;
}

main .map {
  width: auto;
  position: relative;
  margin: 0 auto;
  height: 350px;
}

main .map .arizona-map {
  width: auto;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .map .map-marker {
  position: absolute;
  left: 47%;
  top: 47%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

footer .footer-wrapper {
  width: auto;
  margin: 0 auto;
}

footer .footer-wrapper .footer-teg {
  height: 16px;
  width: 136px;
  margin: 31px auto 41px auto;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.24;
}

footer .footer-wrapper .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-wrapper .footer-social .footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 151px;
  height: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer-wrapper .footer-social .footer-social__list .social__item {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

footer .footer-wrapper .footer-social .footer-social__list .social__item:hover {
  background-color: #669ec0;
}

footer .footer-wrapper .footer-social .footer-social__list .social__item:active {
  background-color: #5496bd;
  color: #88b6d1;
}

footer .footer-wrapper .footer-social .footer-social__list .social__item:active svg {
  fill: #88b6d1;
}

footer .footer-wrapper .footer-social .footer-social__list .social__item svg {
  fill: white;
}

footer .footer-wrapper .footer-social .footer-social__list .twitter svg {
  margin: 17px 14px 17px 14px;
}

footer .footer-wrapper .footer-social .footer-social__list .facebook {
  width: 47px;
}

footer .footer-wrapper .footer-social .footer-social__list .facebook svg {
  margin: 14px 19px 16px 19px;
}

footer .footer-wrapper .footer-social .footer-social__list .youtube svg {
  margin: 17px 13px 17px 13px;
}

footer .footer-wrapper .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 81px;
}

footer .footer-wrapper .footer-copyright a {
  margin-left: 11px;
}

footer .footer-wrapper .footer-copyright a svg:hover {
  fill: #81b3d2;
}

footer .footer-wrapper .footer-copyright a svg:active {
  fill: #b2b2b2;
}

.photo-main {
  background-color: white;
}

.photo-stats {
  width: auto;
  height: 168px;
  background-color: white;
}

.photo-stats__description {
  width: auto;
  padding-top: 44px;
  line-height: 1.44;
  text-align: center;
}

.photo-stats__description b {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.photo-stats__description p {
  padding-top: 20px;
  max-width: 500px;
  line-height: 1.71;
  font-size: 14px;
}

.photo-stats__description br {
  display: none;
}

.photos-line {
  width: auto;
  height: 2px;
  margin: 0 auto;
  background-color: #d6d6d6;
  opacity: 0.4;
  margin-top: 21px;
  margin-bottom: 21px;
}

.photo-wrapper {
  height: 280px;
  text-align: center;
}

.photo-wrapper .first_photo {
  width: 90%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.additional_photo-wrapper {
  text-align: center;
  height: 280px;
}

.additional_photo-wrapper .additional_photo {
  width: 90%;
  height: 280px;
  max-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.photos-authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  margin-top: 18px;
}

.additional_photos-authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 18px;
}

.photos-description {
  width: auto;
}

.photos-description .photo-title {
  font-size: 14px;
}

.photos-description .photo-author {
  text-transform: none;
  color: #333333;
  margin-top: 3px;
}

.photo-likes {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.71;
  width: 63px;
  margin: 0;
}

.photo-likes .like {
  margin-top: 11px;
  border: none;
  background-color: white;
  padding: 0;
}

.photo-likes svg {
  fill: gray;
  opacity: 0.4;
}

.photo-likes svg:hover,
.photo-likes svg:active {
  fill: #63baf0;
}

.form-main {
  background-color: white;
  /*.radio__input {//скрываем стандартный стиль для инпута
    appearance: none;
    position: absolute;
  }*/
}

.form-main .form-stats {
  width: auto;
  height: auto;
  background-color: white;
}

.form-main .form-stats__description {
  width: auto;
  height: 140px;
  padding-top: 41px;
  line-height: 1.44;
  text-align: center;
}

.form-main .form-stats__description b {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.form-main .form-stats__description p {
  padding-top: 20px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.form-main .form-stats__description br {
  display: none;
}

.form-main .form-line {
  width: auto;
  height: 2px;
  margin: 0 auto;
  background-color: #d6d6d6;
  opacity: 0.4;
}

.form-main input::-webkit-input-placeholder {
  color: black;
  opacity: 0.7;
}

.form-main input::-moz-placeholder {
  color: black;
  opacity: 0.7;
}

.form-main input:-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}

.form-main input::-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}

.form-main input::placeholder {
  color: black;
  opacity: 0.7;
}

.form-main input[type="text"],
.form-main input[type="number"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 22px 19px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  text-transform: none;
  background-color: #f9f6f3;
  border: none;
  outline: none;
}

.form-main input[type="text"]:hover,
.form-main input[type="number"]:hover {
  background-color: #e5e5e5;
}

.form-main input[type="text"]:focus
input[type="number"]:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.form-main .user {
  height: 304px;
}

.form-main h1 {
  width: 140px;
  margin: 24px auto 25px auto;
  font-size: 18px;
  line-height: 1.44;
}

.form-main .appointment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 5px;
  padding-right: 19px;
  max-width: 400px;
}

.form-main .appointment-item .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.form-main .user-contacts {
  height: 286px;
}

.form-main .user-contacts h1 {
  width: 240px;
  margin: 24px auto 9px auto;
  font-size: 18px;
  line-height: 1.44;
}

.form-main .contacts_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 400px;
  padding-left: 5px;
  padding-right: 19px;
}

.form-main .user-contacts__contact {
  padding-left: 42px;
  padding-bottom: 14px;
  width: 160px;
  white-space: nowrap;
}

.form-main .user-contacts__contact-desktop {
  display: none;
}

.form-main .input_and_svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 400px;
  height: 58px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-main .input_and_svg input::-webkit-outer-spin-button,
.form-main .input_and_svg input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.form-main .input_and_svg .phone {
  background-color: #e6e6e6;
  padding: 20px 19px 20px 21px;
}

.form-main .input_and_svg .email {
  background-color: #e6e6e6;
  padding: 23px 21px 23.01px 21px;
}

.form-main .user__general-impression {
  height: 288px;
}

.form-main .user__general-impression h1 {
  margin: 0 auto;
  width: 235px;
  font-size: 18px;
  padding-top: 24px;
}

.form-main .user__general-impression ul {
  margin: 0;
  padding: 0;
  height: auto;
}

.form-main .impression-group {
  list-style: none;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 52px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
  text-transform: none;
  height: 17px;
}

.form-main input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form-main .radio__label {
  margin: 0 auto;
  cursor: pointer;
  padding-left: 82px;
}

.form-main .radio__label:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #f2f2f2;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 7px;
  z-index: 1;
}

.form-main .radio__label:after {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: 21px;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.form-main input[type="radio"]:checked + .radio__label:before {
  background-color: #c5c5c5;
}

.form-main input[type="radio"]:hover + .radio__label:before {
  background-color: #d5d5d5;
}

.form-main input[type="radio"]:checked + .radio__label:after {
  background-color: #333333;
  opacity: 1;
}

.form-main input[type="radio"]:hover + .radio__label:after {
  background-color: #a4a4a4;
}

.form-main .user__sights-visited {
  height: 408px;
}

.form-main .user__sights-visited h1 {
  padding-top: 24px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  width: 238px;
}

.form-main .sights-visited--group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-main .check__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.form-main .check {
  margin: 0 auto;
  min-width: 150px;
  margin-top: 63px;
  padding-left: 29px;
}

.form-main .first-option {
  margin-top: 41px;
}

.form-main .check__box {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f2f2f2;
  margin-left: -80px;
  margin-top: -16px;
}

.form-main .check__input:checked + .check__box {
  background-image: url(../img/checked.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #d5d5d5;
}

.form-main .check__input:hover + .check__box {
  background-color: #e5e5e5;
}

.form-main .user__emotions {
  text-align: center;
}

.form-main .user__emotions h1 {
  padding-top: 24px;
  margin: 0 auto;
  width: 215px;
  font-size: 18px;
  margin-bottom: 18px;
}

.form-main .user__comment {
  width: 80%;
  border: none;
  resize: none;
  background-color: #f2f2f2;
  height: 160px;
  padding: 22px 21px 0 21px;
  margin-bottom: 51px;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.form-main ::-webkit-input-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.form-main ::-moz-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.form-main :-ms-input-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.form-main ::-ms-input-placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.form-main ::placeholder {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.44;
}

.form-main .form-send {
  margin: 0 auto;
  display: block;
  width: 80%;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  color: white;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  header .header-nav {
    width: auto;
    margin: 0;
    min-height: 56px;
  }

  header .header-nav__wrapper button {
    display: none;
  }

  header .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  header .site-list li:nth-child(1n) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  header .site-list li:nth-child(2n) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  header .site-list li:nth-child(3n) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  header .site-list li:nth-child(4n) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  header .site-list li:nth-child(5n) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  header .site-list .site-list__item {
    width: 20%;
    background-color: white;
    color: #000000;
    border: none;
  }

  header .site-list .site-list__item:nth-child(4n) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  header .site-list .site-list__item .site-list__item--active {
    color: #81b3d2;
  }

  header .site-list .site-list__item a {
    padding: 0;
    padding-top: 22px;
    padding-bottom: 23px;
    background: none;
    border: none;
    color: black;
    line-height: 11px;
    font-size: 14px;
  }

  header .site-list .site-list__item a[href]:hover {
    background-color: white;
    color: #81b3d2;
  }

  header .site-list .site-list__item a[href]:active {
    color: #dbd8d5;
  }

  header .page-header__logo {
    height: 518px;
    width: 100%;
    background-image: url(../img/index-photo/back-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  header .page-header__logo img {
    width: 460px;
    height: 350px;
  }

  main .stats {
    height: 206px;
    width: auto;
    margin: 0;
  }

  main .stats .stats__description {
    width: 490px;
    padding: 51px 139px 0 139px;
    min-height: 100px;
    margin: 0 auto;
  }

  main .stats .stats__description .stats_slogan {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    line-height: 26px;
  }

  main .stats .stats__description .stats_slogan br {
    display: none;
  }

  main .stats .stats__description .stats_intro {
    margin-top: 34px;
  }

  main .advantages {
    width: auto;
    min-height: 256px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  main .advantages .first-advantages {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main .advantages .first-advantages .first-advantages__list {
    width: 33%;
    min-height: 161px;
    padding: 46px 0 49px 0;
  }

  main .advantages .first-advantages .first-advantages__list p {
    width: 163px;
  }

  main .advantages .first-advantages .first-advantages__list b br {
    display: block;
  }

  main .advantages .first-advantages .first-advantages__photo {
    height: 256px;
    width: 67%;
  }

  main .advantages .other-advantages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 330px;
    width: auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
    margin: 0;
  }

  main .advantages .other-advantages br {
    display: block;
  }

  main .advantages .other-advantages p {
    width: 163px;
    margin-top: 22px;
  }

  main .advantages .other-advantages svg {
    fill: #81b3d2;
  }

  main .advantages .other-advantages .advantages__description {
    padding: 0;
    width: 33%;
    height: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  main .advantages .other-advantages .house {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  main .advantages .other-advantages .house .icon-house {
    position: static;
    margin: 60px auto 25px auto;
    width: 75px;
    height: 72px;
  }

  main .advantages .other-advantages .food {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  main .advantages .other-advantages .food .icon-burgers {
    position: static;
    margin: 60px auto 25px auto;
    width: 77px;
    height: 72px;
  }

  main .advantages .other-advantages .souvenirs {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  main .advantages .other-advantages .souvenirs .icon-gift {
    position: static;
    margin: 60px auto 25px auto;
    width: 64px;
    height: 72px;
  }

  main .advantages .second-advantages {
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  main .advantages .second-advantages .second-advantages__list {
    width: 33%;
    min-height: 161px;
    padding: 46px 0 49px 0;
  }

  main .advantages .second-advantages .second-advantages__list p {
    width: 163px;
  }

  main .advantages .second-advantages .second-advantages__list b br {
    display: block;
  }

  main .advantages .second-advantages .second-advantages__photo {
    background-image: url(../img/index-photo/photo-bridge.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 256px;
    width: 67%;
  }

  main .advantages .grey-other-advantages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    min-height: 256px;
    width: auto;
  }

  main .advantages .grey-other-advantages li {
    width: 33%;
  }

  main .advantages .grey-other-advantages li br {
    display: block;
  }

  main .advantages .grey-other-advantages li p {
    max-width: 200px;
  }

  main .advantages .grey-other-advantages .line {
    display: none;
  }

  main .interest {
    min-height: 318px;
    width: auto;
  }

  main .interest .interest__description {
    padding-top: 57px;
    height: auto;
  }

  main .interest .interest__description b {
    font-size: 30px;
    line-height: 26px;
  }

  main .interest .interest__description p {
    max-width: 450px;
    line-height: 24px;
  }

  main .interest .interest__description .interest__button {
    width: 458px;
  }

  main .map {
    width: auto;
  }

  main .map .arizona-map {
    width: auto;
  }

  main .map .map-marker {
    left: 48%;
  }

  footer {
    width: auto;
    background-color: white;
  }

  footer .footer-wrapper {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0;
  }

  footer .footer-wrapper .footer-teg {
    margin: 51px auto 53px auto;
  }

  footer .footer-wrapper .footer-social {
    height: 81px;
    margin-top: 36px;
  }

  footer .footer-wrapper .footer-copyright {
    height: auto;
  }

  .photo-stats {
    height: 248px;
  }

  .photo-stats__description {
    padding-top: 76px;
  }

  .photo-stats__description b {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.87;
  }

  .photo-stats__description p {
    max-width: 428px;
  }

  .photo-stats__description br {
    display: block;
  }

  .photos-line {
    display: none;
  }

  .photo-wrapper {
    height: 400px;
  }

  .photo-wrapper .first_photo {
    height: 400px;
  }

  .photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
  }

  .photos .additional {
    width: 33.33%;
  }

  .photos .additional_photo-wrapper {
    text-align: none;
    margin: 0;
    height: 267px;
    width: auto;
  }

  .photos .additional_photo-wrapper .additional_photo {
    width: 100%;
    height: 267px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .photos .additional_photos-authors {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    height: 85px;
    background-color: #f2f2f2;
    width: auto;
  }

  .photos .grey {
    background-color: #eaeaea;
  }

  .photos-authors {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    height: 80px;
    background-color: #f2f2f2;
  }

  .photos-description {
    margin-top: 22px;
    height: 37px;
    margin-left: 20px;
  }

  .photo-likes {
    height: 21px;
    margin-top: 30px;
    margin-right: 18px;
  }

  .photo-likes .like {
    margin: 0;
    background-color: inherit;
  }

  .form-main .form-stats__description {
    padding-top: 71px;
    height: 174px;
  }

  .form-main .form-stats__description b {
    font-size: 30px;
    line-height: 24px;
  }

  .form-main .form-stats__description br {
    display: block;
  }

  .form-main .form-line {
    display: none;
  }

  .form-main .user-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form-main .vertical-line {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-color: black;
    opacity: 0.1;
    width: 1px;
    height: 292px;
  }

  .form-main .user {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 49%;
    height: 327px;
    margin-top: 0;
  }

  .form-main h1 {
    width: 140px;
    margin: 0 0 60px 58px;
    font-size: 18px;
    line-height: 1.44;
  }

  .form-main .appointment-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 58px;
    margin-bottom: 20px;
    max-width: 400px;
    height: 58px;
  }

  .form-main .appointment-item .user-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 5px;
  }

  .form-main .form-line--tablet {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 80%;
    height: 2px;
    margin: 0 auto;
    margin-top: 82px;
    background-color: #d6d6d6;
    opacity: 0.4;
  }

  .form-main .user-contacts {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    width: 648px;
  }

  .form-main .user-contacts h1 {
    position: relative;
    top: -38px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    font-size: 21px;
    font-weight: bold;
    width: 279px;
  }

  .form-main .contacts_item {
    margin: 0 auto;
    margin-top: 31px;
    max-width: 648px;
  }

  .form-main .user-contacts__contact {
    padding-left: 42px;
    padding-bottom: 14px;
    width: 160px;
    white-space: nowrap;
  }

  .form-main .input_and_svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    max-width: 648px;
    height: 58px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .form-main .user__general-impression {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
    text-align: center;
  }

  .form-main .user__general-impression h1 {
    float: right;
    margin-right: 50px;
    margin-bottom: 75px;
    padding-top: 0;
    width: 273px;
  }

  .form-main .impression-group {
    clear: both;
    margin-top: 61px;
    width: auto;
    padding-left: 24px;
  }

  .form-main .radio__label {
    padding: 50px;
  }

  .form-main .user__sights-visited {
    font-weight: bold;
    height: auto;
  }

  .form-main .user__sights-visited h1 {
    width: 278px;
    position: relative;
    top: -50px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    font-size: 21px;
    font-weight: bold;
  }

  .form-main .sights-visited--group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    height: auto;
  }

  .form-main .check {
    margin: 0;
    margin-bottom: 42px;
    width: 30%;
    min-width: 0;
    height: 40px;
    padding-left: 120px;
  }

  .form-main .last-line {
    margin-top: 0;
  }

  .form-main .user__emotions h1 {
    width: 278px;
    position: relative;
    top: -38px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    font-size: 21px;
    font-weight: bold;
  }

  .form-main .send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 83%;
    margin: 0 auto;
  }

  .form-main .send p {
    margin: 0;
    text-align: center;
    line-height: 26px;
    padding: 1em;
  }

  .form-main .form-send {
    width: 324px;
    margin: 0;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  header .page-header__logo {
    background-image: url(../img/index-photo/back-desktop@2x.png);
    background-size: 1200px auto;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
    height: auto;
    background-color: #f2f2f2;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(34, 60, 80, 0.4);
            box-shadow: 0px 0px 20px -5px rgba(34, 60, 80, 0.4);
  }

  header .header-nav {
    min-height: 56px;
    background-color: white;
  }

  header .header-nav__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  header .page-header__logo {
    height: 518px;
    width: 1200px;
    margin: 0 auto;
    background-position: center 0;
    background-size: cover;
  }

  main .stats {
    min-height: 206px;
    background-color: white;
  }

  main .stats .stats__description {
    padding-top: 51px;
    min-height: 100px;
  }

  main .advantages .first-advantages .first-advantages__list {
    width: 400px;
    min-height: 140px;
    padding: 53px auto 63px auto;
  }

  main .advantages .first-advantages .first-advantages__list p {
    width: 265px;
  }

  main .advantages .first-advantages .first-advantages__photo {
    width: 800px;
  }

  main .advantages .other-advantages {
    min-width: 1200px;
    background-color: white;
  }

  main .advantages .other-advantages .advantages__description {
    min-width: 400px;
  }

  main .advantages .other-advantages .advantages__description p {
    width: 240px;
  }

  main .advantages .second-advantages .second-advantages__list {
    width: 400px;
    min-height: 140px;
    padding: 53px auto 63px auto;
  }

  main .advantages .second-advantages .second-advantages__list p {
    width: 265px;
  }

  main .advantages .second-advantages .second-advantages__photo {
    width: 800px;
  }

  main .advantages .grey-other-advantages {
    width: 1200px;
  }

  main .advantages .grey-other-advantages li {
    min-width: 400px;
  }

  main .advantages .grey-other-advantages li p {
    max-width: 290px;
  }

  main .interest {
    background-color: white;
  }

  main .map .arizona-map {
    width: 1200px;
  }

  main .map .map-marker {
    left: 49%;
  }

  .photo-stats {
    height: 287px;
  }

  .photo-stats__description {
    padding-top: 113px;
  }

  .photo-wrapper {
    height: 400px;
    background-image: url(../img/photo-images/photo-1-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-box-shadow: 0px -80px 0px 0px rgba(0, 0, 0, 0.3) inset;
            box-shadow: 0px -80px 0px 0px rgba(0, 0, 0, 0.3) inset;
  }

  .photo-wrapper .first_photo {
    display: none;
  }

  .photos {
    width: 100%;
  }

  .photos .additional_photo-wrapper {
    z-index: -2;
  }

  .photos .additional_photos-authors {
    z-index: 1;
    position: relative;
    margin-top: -85px;
    height: 85px;
    background-color: rgba(0, 0, 0, 0.301);
  }

  .photos-authors {
    width: 1200px;
    margin-top: -80px;
    background-color: inherit;
  }

  .photos-description {
    margin-left: 21px;
  }

  .photos-description b {
    color: white;
  }

  .photos-description .photo-author {
    color: white;
  }

  .photo-likes {
    color: white;
  }

  .photo-likes .like {
    margin: 0;
    background-color: inherit;
  }

  .photo-likes .like svg {
    fill: white;
    opacity: 1;
  }

  .photo-likes .like svg:hover,
  .photo-likes .like svg:active {
    fill: #81b3d2;
  }

  .form-main h1 {
    font-size: 21px;
  }

  .form-main .user__general-impression h1 {
    font-size: 21px;
  }

  .form-main .contacts_imformation--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

  .form-main .user-contacts {
    width: 1200px;
    height: auto;
  }

  .form-main .contacts_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
  }

  .form-main .user-contacts__contact {
    display: none;
  }

  .form-main .user-contacts__contact-desktop {
    display: block;
  }

  .form-main .user-contacts__contact-desktop {
    padding: 21.5px 16px 0 0;
  }

  .form-main .input_and_svg {
    padding: 0;
    margin: 0;
    width: 315px;
  }

  .form-main .sights-visited--group {
    width: 80%;
  }

  .form-main .check {
    width: 12%;
    white-space: nowrap;
  }

  .form-main .first-option {
    padding-left: 80px;
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .photo-wrapper {
    background-image: url(../img/photo-images/photo-1-desktop@2x.jpg);
    background-size: 1200px 400px;
  }
}

@media (max-width: 768px) {
  header .header-nav__toggle--open::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 23px;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    -webkit-box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
            box-shadow: 0 8px 0 0 #81b3d2, 0 16px 0 0 #81b3d2;
  }

  header .header-nav__toggle--close::before,
  header .header-nav__toggle--close::after {
    content: "";
    position: absolute;
    top: 26px;
    left: 23px;
    width: 23px;
    height: 4px;
    background-color: white;
  }

  header .header-nav__toggle--close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  header .header-nav__toggle--close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  header .header-nav__toggle--close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    padding: 0;
    background-color: inherit;
    border: none;
  }

  header .header-nav__toggle--open {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 70px;
    height: 50px;
    padding: 0;
    background-color: white;
    border: none;
  }

  header .header-nav--closed .site-list__item {
    display: none;
  }

  header .header-nav--closed .header-nav__toggle--open {
    display: block;
  }

  header .header-nav--closed .header-nav__toggle--close {
    display: none;
  }

  header .header-nav--nojs .header-nav__toggle--close,
  header .header-nav__toggle--open {
    display: none;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  header .page-header__logo {
    background-image: url(../img/index-photo/back-desktop@2x.png);
    background-size: 1200px auto;
  }

  main .advantages .first-advantages .first-advantages__photo {
    background-image: url(../img/index-photo/photo-city@2x.jpg);
    background-size: 800px auto;
  }

  main .advantages .second-advantages .second-advantages__photo {
    background-image: url(../img/index-photo/photo-bridge@2x.jpg);
    background-size: 800px 260px;
  }
}